* {
    font-family: 'Mukta', sans-serif;
    color: aliceblue;
}

body {
    margin: 0;
    display: block;
    justify-content: center;
    background-color: rgb(32, 31, 41);
}

.wrapper {
    background-color: rgba(117, 117, 117, 0.2);
    height: 100%;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
}

input {
    display: block;
    background-color: rgba(199, 193, 255, 0.3);
    border-radius: 12px;
    width: 50%;
    height: 6rem;
    color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
    font-size: 3rem;
    box-shadow: 0px 10px 20px 10px rgba(27, 17, 63, 0.15);
    border: solid 2px rgba(230, 230, 255, 0.1);
    transition: all ease-in-out 100ms;
    
}

input:focus {
    border: solid 2px rgba(255, 255, 255, 0.3);
}
.toCurrency {
    color:black;
    display: block;
    text-align: center;
    font-size: 40px;

}

.mainLogo {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#show {
    display: block;
    background-color: rgb(0, 89, 255);
    border-radius: 12px;
    width: 45%;
    font-weight: 500;
    height: 5rem;
    color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 80ms;
}

#show:hover {
    background-color:rgb(45, 119, 255);
}