* {
    font-family: 'Mukta', sans-serif;
    color: aliceblue;
}

body {
    padding: 10px;
    margin: 0;
    display: block;
    justify-content: center;
    background-color: rgb(24, 23, 31);
}

.wrapper1 {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 10px;
    background-color: rgba(72, 68, 82, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin-bottom: 10px;
    animation: appearOnOpen 700ms;
}

h1 {
    font: lighter 70px 'Poiret One', cursive ;
    text-align: center;
    animation: appearOpacity 2.5s;
}

input {
    position: relative;
    background-color: rgba(199, 193, 255, 0.3);
    border-radius: 12px;
    width: 60%;
    height: 6rem;
    color: rgb(255, 255, 255);
    margin: 10px auto;
    text-align: center;
    outline: none;
    font-size: 3rem;
    box-shadow: 0px 10px 20px 10px rgba(27, 17, 63, 0.15);
    border: solid 2px rgba(230, 230, 255, 0.3);
    transition: all ease-in-out 100ms;
    
}

input:focus {
    border: solid 2px rgba(255, 255, 255, 0.5);
}

.wrapper2 {
    display: grid;
    grid-template: 85px 85px 85px / 25% 75%;
    grid-gap: 7px;
    padding: 10px;
    background-color: rgba(72, 68, 82, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    animation: appearOnOpen 700ms;
}


#info {
    width: 60%;
    height: 6rem;
    color: rgb(255, 255, 255);
    margin: 10px auto;
    padding: auto;
    text-align: center;
    font-size: 3rem;
    background-color: rgba(199, 193, 255, 0.3);
    box-shadow: 0px 10px 20px 10px rgba(27, 17, 63, 0.15);
    border: solid 2px rgba(230, 230, 255, 0.1);
    border-radius: 12px;
}


 /* Convert Button */
.wrapper2 :nth-child(1){
    grid-column: 2;
    grid-row: 1;
}

 /* Output */
.wrapper2 :nth-child(2) {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.wrapper2 button{
    font-size: 30px;
    margin: 3px;
    outline: none;
    color:rgb(255, 255, 255);
    background-color: rgba(219, 188, 255, 0.4);
    border: solid 1px rgba(196, 151, 255, 0.5);
    border-radius: 12px;
}

.wrapper2 button:hover {
    Background-color: rgb(89, 0, 255);
    transition: all ease-in-out 70ms;
}

#show {
    font: bolder 3rem 'Poiret One', cursive;
    display: block;
    background-color: rgb(89, 0, 255);
    border-radius: 12px;
    width: 45%;
    height: 5rem;
    color: rgb(255, 255, 255);
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 80ms;
}

#show:hover {
    background-color:rgb(98, 55, 252);
}


/* Animation */

@keyframes appearOnOpen {
    from {
        transform: translateX(-60%);
    } to {
        transform: translateX(0);
    }
}

@keyframes appearOpacity {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
